.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

system/
application/cache/
application/config/constants.php
application/config/doctypes.php
application/config/foreign_chars.php
application/config/hooks.php
application/config/memcached.php
application/config/migration.php
application/config/mimes.php
application/config/profiler.php
application/config/smileys.php
application/config/user_agents.php
application/controllers/
application/doc/
application/helpers/
application/hooks/
application/language/
application/libraries/
application/logs
application/models
application/views/

*.backup

node_modules/